/* ---------- custom styles ---------- */
.exo-font {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.ui-checkboxradio-label {
    font-weight: 600;
}


#locOptionQuery {
    font-size: 1em;
    font-weight: 600;
    margin-top: 0;
}

#geoLoc label, #zipLoc label {
    width: 265px;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 5px;
}

#zipInput {
    font-size: 1em;
    position: relative;
    width: 95px;
    left: 10px;
}

#submitBtn {
    display: block;
    text-align: center;
    width: 70px;
    margin-top: 10px;
    border-radius: 5px;
}

