/* styles.css */
body {
    font-family: "Exo", Arial, Helvetica, sans-serif
}

#splashDiv {
    display:block;
    max-width: 800px;
    padding:10px;
    border:1px solid black;
    margin:auto;
}

#splashImg {
    max-width:100%;
}

#splashTitle h2 {
    font-size: 2em;
    margin-top: 60px;
    margin-bottom: 0px;
}

#splashTitle p {
    font-size: 1.5em;
    margin-top:0px;
    margin-bottom:0px;
}